body {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 80px;
    margin-bottom: 0;
}

h2 {
    color: lightslategray;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    height: 30px;
}